<section class="text-[#313131] w-full flex justify-center p-4">
  <div
    class="bg-[#F0F2F6] w-full rounded-md p-2 flex justify-between items-center"
  >
    <span>{{ task.name }}</span>
    <div>
      <button
        mat-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</section>
